<!doctype html>
<head>
	<meta charset="utf-8">
	<script src="../resources/js/JQuery-3.1.0.js"></script>
	<link rel="stylesheet" href="../resources/css/bootstrap.css"> 
	<script src="../resources/js/bootstrap.js"></script>
	
	<title>注册</title>
</head>
<body>
	
	<div style="text-align:center ;margin-top:10%">
		<div class="input-group" style="margin-left:auto ; margin-right:auto; margin-top=10%">
			<div style="margin-top:10%; margin-bottom:10%">
				<div class="col-xs-4">用户名：</div>
				<div class="col-xs-8"><input type="text" placeholder="Name"  id="name" maxlength=15></div>
			</div>
			<div style="margin-top:10%; margin-bottom:10%">
				<div class="col-xs-4">密码：</div>
				<div class="col-xs-8"><input type="password" placeholder="Password"  id="password" maxlength=15></div>
			</div>
			<div style="margin-top:10%; margin-bottom:10%">
				<div class="col-xs-4">确认密码：</div>
				<div class="col-xs-8"><input type="password" placeholder="Password"  id="ensure" maxlength=15></div>
			</div>
		</div>
		<div style="margin-top:5%">
			<button type="button" class="btn btn-primary" id="submit">submit</button>
		</div>
		<script src="../resources/js/register.js"></script>
	</div>
</body>
